<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It is an email from <%= @data["name"] %></h1>
    <p>
      <%= @data["text"]%><br>
    </p>
    <blockquote>Responde to: <%= @data["email"]%></blockquote>>
  </body>
</html>