<div class="jumbotron">
  <h1>Success!</h1>
  <p>Your message was successfully send. We will respond to you as fast as possible.</p>
  <p>{{#link-to 'index' class="btn btn-success btn-lg" role="button"}}Continue shopping!{{/link-to}}</p>
</div>