{{#each itemController="subcategory"}}
  <div class="row">
    <div class="checkbox"><input type="checkbox"></div>
    <div class="number">#</div>
    <div class="name_category sub_category">-- {{name}}</div>
    <div class="url">url</div>
    <div class="parent">{{parent_category_id}}</div>
    <div class="menu_category">Меню</div>
    <div class="sort_category">Сортировка</div>
    <div class="destroy" {{action 'destroy'}}><a>X</a></div>
  </div>
  {{render 'subcategories' subcategory_ids}}
{{/each}}