<header>
	<div class="logo">
		{{#link-to 'index' class="font-effect-shadow-multiple"}}Dashboard{{/link-to}}
	</div>
	<div class="buttons">
		<a href="#"><div {{action 'logOut'}}>Выход <i class="fa fa-sign-out pull-right"></i></div></a>
	</div>
</header>
<div class="content">
	<div class="menu">
		<ul>
			<li>{{#link-to 'index'}}Главная{{/link-to}}</li>
			<li>{{#link-to 'categories'}}Категории{{/link-to}}</li>
			<li>{{#link-to 'products'}}Товары{{/link-to}}</li>  
		</ul>
	</div>


	{{ outlet }}
</div>
<footer>
	<div class="copyright">Created by <a href="https://github.com/AlexBeznos/">AlexBeznos</a> 2014©</a></div>
</footer>